<% layout('/layouts/boilerplate') %>
<body>
    <!-- ------ -->
     <script>
        const mapToken = "<%= process.env.MAP_TOKEN %>";
        const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>
     </script>
    
    <div class="row row-cols-lg-2">
        
        <div class="card listing-card">
         <h1><%= listing.title %></h1>
        <img src="<%=listing.image.url%>" class="card-img-top">
        <div class="card-body">
        <p>Owned by <i><b><%= listing.owner.username %></i></b></p>
        <%= listing.description %> <br>
        <%= listing.price %>/ <br>
        <i><%= listing.country %></i> <br>
        </div>
        <div class="card-btns">
            <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
            <form method="GET" action="/listing/<%=listing._id%>/edit">
                <button class="btn btn-dark">Edit</button>
            </form>
            <br>
            <form method="POST" action="/listing/<%=listing._id%>?_method=DELETE">
                <button class="btn btn-dark">Delete</button>
            </form>
            <% } %>
        </div>
        

          <hr>
          <% if(currUser){ %>
          <!-- Formmm -->
     <div class="col-8 mb-3">
        <h4>Leave a review</h4>
        <form action="/listing/<%= listing._id %>/reviews" method="POST" class="needs-validation" novalidate>
            <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" id="rating" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio"  id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio"  id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            <br>

            <label class="form-label" for="comment">Comments</label> <br>
            <textarea class="form-control" type="text" id="comment" name="review[comment]" rows="5" cols="50" required></textarea>
            <div class="invalid-feedback">Please fill this field</div>
            <br>

            <button class="btn btn-outline-dark">Submit</button>
        </form>
     </div>
     <hr>
     <% } %>
     <!-- ------------------------------->

      <% if(listing.reviews.length > 0){ %>
      <!-- ----REVIEWS---- -->
      <h4>Reviews</h4>
      <div class="row">
          <%for( review of listing.reviews) {%>
         <div class="card col-5 ms-3 mb-3" >
            <div class="card-body ">
            <h5 class="card-title"><b>@<%= review.author.username %></b></h5>
            <p class="card-text"><%=review.comment%></p>
            <p class="starability-result" data-rating="<%= review.rating %>"></p>
            </div> 
        <!-- -----DELETE REVIEW------ -->
        <% if(currUser && currUser._id.equals(review.author._id)) { %>
        <form method="POST" action="/listing/<%= listing._id %>/reviews/<%=review._id%>?_method=DELETE">
            <button class="btn-dark mb-3 btn">Delete</button>
        </form>
        <% } %>
        <!-- -------------------- -->
        </div>
         <%}%>

      </div>
      <% } %>
      <!-- -------------------- -->

      
    </div>
</div>
<!------- MAP ------->
<div class="col-8 offset-3 mb-3">
 <h3>Where you'll be</h3>
 <div id="map"></div>
</div>
<!-- XXX ---MAP--- XXX -->

</body>

<script src="/JS/map.js"></script>

</html>